body
{
    background-color: greenyellow;
}

.heading
{
    width: 80%;
    font-size: 25px;
    color:red;
}

#camera
{
    border: 2px dashed;
    width: 350px;
    height: 300px;
}

.name_of_objects
{
    color: red;
    font-size: 25px;
}